<h1>tweestagramのご利用ありがとうございます。
以下の内容で投稿しました。</h1>



<h4>内容の確認</h4>

<p>content: <%= @post.content %></p>

<a class="navbar-brand" href="＃">Tweestagram</a>
<p class="copyright text-muted">Copyright &copy; aya.e</p>
