// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.key {
    color: red;
    text-align: center;
}

#feed_image {
  font-size: 10px;
}
